{% extends 'formTemplate.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center" style="margin-top: 20vh;">
        <div class="card mx-3" style="background-color: #393e46; width: 30rem;">
            <div class="card-title mt-3 align-self-center px-5">
                <a href="{% url 'home' %}"><img src="/media/snakeWhite.png" class="img-fluid" width="64px"
                        height="64px"></a>
            </div>
            <div class="card-body px-5">
                <form class="form-group" action="{% url 'accounts:login' %}" method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-danger btn-block my-2">LOG IN</button>
                </form>
                <p class="mt-3 text-center">Dont have an account? <a href="{% url 'accounts:signup' %}">Register</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}