.homepage-box {
    background: url('/media/homepageImage.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
}

.homepage-box-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.article-detail-img {
    background: url('{{article.image.url}}') no-repeat center;
    background-size: cover;
    height: 45vh;
}

.article-detail article {
    background-color: #eeeeee;
    height: 100%;
}

.article-detail-metadata a {
    font-size: medium;
}

.account-content {
    border: 1px solid rgba(0, 0, 0, .125);
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.articles article .media {
    border: 1px solid rgba(0, 0, 0, .125);
    margin: 1rem;
    padding: 1rem;
    background-color: #ffffff;
}

.articles article .media .article-title {
    font-size: 24px;
    text-decoration: none;
    color: #222831;
}

.articles article .media .article-title:hover {
    color: #d65a31;
}

.jumbotron {
    background-color: #eeeeee;
}